.header {
  height: 70px;
  width: 100%;
  background-color: var(--primary);

  &[data-shadow="true"] {
    box-shadow: 0px 1px 3px 0px var(--on-primary);
  }

  .title {
    color: var(--on-primary);
    line-height: 70px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
}
