.room {
  width: 100%;
  height: 330px;
  padding: 10px;
  color: var(--on-primary);
  background-color: var(--primary);
  border: solid 2px var(--primary);
  border-radius: 10px;
  position: relative;
  transition: all 0.3s;

  .room_name {
    font-size: 2.5rem;
  }

  .star {
    font-size: 3rem;
    color: var(--tertiary);
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .staycount {
    font-size: 2rem;

    .count {
      font-weight: bold;  
    }
  }

  &[data-star="true"] {
    background-color: var(--on-tertiary);
    color: var(--tertiary);
    border: solid 2px var(--tertiary);
  }

  &[data-select="true"] {
    background-color: var(--on-primary);
    color: var(--primary);
    border: solid 2px var(--primary);
  }
}
